*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.input-field label input {
  width: 100%;
}
.input-field label p ,.shoe-details h4{
  font-size: 14px;
  font-weight: 600;
}
.input-field label {
  margin: 10px;
}
.input-field label input {
  margin-top: 5px;
  padding-inline: 15px;
  padding-block: 12px;
  border: 1px solid black;
  outline: none;
}
.input-field label input::placeholder {
  font-weight: 400;
}
.input-field label input:focus {
  outline: 3px solid #555;
}